<h1 id="tex1">Bienvenido a <%= title %></h1>
<p>Plataforma donde puede jugar contestando preguntas al azar</p>
<p id="text1"><a href="/quizes/question">¡Comience a jugar!</a></p>
<p id="img1"><a href="/quizes/question"><img src="http://cdn.gobankingrates.com/wp-content/uploads/start-quiz.png"></a></p>
