<form action="/quizes/answer" method="get">
  <br>
  <b>Pregunta: <%- pregunta %></b> <p>
    <textarea rows="4" cols="50" name="respuesta" autofocus>
    </textarea>
    <br>
    <input type="submit" value="Enviar" />
</form>